
header{
    font-family: 'Source Code Pro', monospace;
    color: black;
    text-align: center;
    padding: 0%;
    margin: 0;
}
body{
    background-color: #ADB5BD;
}
a{
    color: whitesmoke;
    padding: 0;
    margin: 0 auto;
}
/*----------- Header ------------------ */

#about{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

/* ------------- About Me section -----------*/


#skills-icon{
    display: inline;
}
li{
    display: inline;
}
.html{
    display: inline;
    height: 100px;
    width: auto;  
    padding: 0%;
}
.css{
    display: inline;
    height: 100px;
    width: auto;  

} 
.js{
    display: inline;
    height: 80px;
    width: auto; 
    margin-bottom: 20px;
}
#skills{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.express{
    display: inline;
    height: 80px;
    width: auto; 
    padding: 5px;
}
.node{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.vue{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.jquery{
    display: inline;
    height: 120px;
    width: auto;
    padding: 5px;
}

.ruby{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}

.rails{
    display: inline;
    height: 100px;
    width: auto;
    padding: 5px;
}
.sinatra{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.databases{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.postgres{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.mongodb{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}

/*--------------- Skills -------------------*/

.projects-heading{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.tictactoe-heading{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.tictactoe-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.tictactoe-para{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.buttons{
    display: inline;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.github-image{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.live-image{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
/*--------------- TicTacToe -------------------*/

.game-heading{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.game-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.game-para{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
/*--------------- 2048 -------------------*/

.football-heading{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.football-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.football-para{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

/*--------------- Football -------------------*/
.crashmob-heading{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.crashmob-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.crashmob-para{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

/*--------------- Crash Mob -------------------*/

.eventor-heading{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.eventor-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.eventor-para{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
/*--------------- Eventor -------------------*/

.contact-heading{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.linkedin{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}