
header{
    font-family: 'Source Code Pro', monospace;
    color: black;
    text-align: center;
    padding: 0%;
    margin: 0;
}
body{
    background-color: #ADB5BD;
}
a{
    color: whitesmoke;
    padding: 0;
    margin: 0 auto;
}
/*----------- Header ------------------ */

#about{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

/* ------------- About Me section -----------*/


#skills-icon{
    display: inline;
}
li{
    display: inline;
}
.html{
    display: inline;
    height: 100px;
    width: auto;  
    padding: 0%;
}
.css{
    display: inline;
    height: 100px;
    width: auto;  

} 
.js{
    display: inline;
    height: 80px;
    width: auto; 
}
#skills{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}