
header{
    font-family: 'Source Code Pro', monospace;
    color: black;
    text-align: center;
    padding: 0%;
    margin: 0;
}
body{
    background-color: #ADB5BD;
}
a{
    color: whitesmoke;
    padding: 0;
    margin: 0 auto;
}
/*----------- Header ------------------ */

#about{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

/* ------------- About Me section -----------*/


#skills-icon{
    display: inline;
}
li{
    display: inline;
}
.html{
    display: inline;
    height: 100px;
    width: auto;  
    padding: 0%;
}
.css{
    display: inline;
    height: 100px;
    width: auto;  

} 
.js{
    display: inline;
    height: 80px;
    width: auto; 
    margin-bottom: 20px;
}
#skills{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
.express{
    display: inline;
    height: 80px;
    width: auto; 
    padding: 5px;
}
.node{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.vue{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.jquery{
    display: inline;
    height: 120px;
    width: auto;
    padding: 5px;
}

.ruby{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}

.rails{
    display: inline;
    height: 100px;
    width: auto;
    padding: 5px;
}
.sinatra{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.databases{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.postgres{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}
.mongodb{
    display: inline;
    height: 80px;
    width: auto;
    padding: 5px;
}

/*--------------- Skills -------------------*/

.projects-heading{
    color: #495057;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}
